@model EmploymentAgency.Core.Objects.UserAgency

<div class="post">

    <div class="user-email">
        Логин: @Model.Email
    </div>

    <div class="user-password">
        Пароль: @Model.Password
    </div>

    <div class="user-role">
        Роль: @Model.Role.Name
    </div>

    <br />

</div>