@helper Skills(System.Web.Mvc.HtmlHelper htmlHelper, IList<EmploymentAgency.Core.Objects.Skill> skills)
{
    foreach (var skill in skills)
    {
        <div class="skills-div">@EmploymentAgency.ActionLinkExtensions.SkillLink(htmlHelper, skill)</div>
    }
}